<div id="profile-update-form" class="user-input">
<%= form_for @profile, remote: true do |f| %>

	<ul>
		
		<p>Welcome to<br /><br />
			<%= image_tag('logo.png')%><br /><br /><br />
			 Add a home base to your profile:</p>	
		
		<li>
			<%= f.text_field :home, :title => "Your City", class: "jq_watermark call-watermark" %><br /><br />
		</li>
		
		<li>
		<%= f.submit "Finish!", class: "btn" %>
		</li>
	</ul>
	
<% end %>
</div>