/* Universal */
html {
	margin: 0;
	padding: 0;
	font-size:10pt;
	color:#333;
	font-family:Helvetica, Arial, sans-serif;
	height: 100%;
	overflow-x: hidden;
}

body {
	
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-x: hidden;
}

ul, ol, li {list-style:none;margin:0;padding:0;}

h1 { /* atlas title font */
	font-family: serif;
	font-size:30pt;
}

h2 { /* sub title font */
	font-family:sans-serif;
	font-size:14pt;
}

h3 { /* big azz serif font */
	font-family:serif;
	font-size:30pt;
	text-transform:uppercase;
}

h4 { /* big azz sans-serif font */
	font-size:30pt;
	text-transform:uppercase;
}

h5 { /* profile name font */
	font-size:2em;
	font-weight:700;
}

h6 { /* profile name font */
	
}

p {
	
}

a {
	color:#333;
	text-decoration:none;
}

a:hover {
	color:#993300;
}

/* Profile */

#profile{
	position: fixed;
	display: block;
	float: left;
	width: 300px;
	height: 100%;
	background: #555;
	color:#f3f3f3;
	z-index: 10;
}
#profile-content{
	margin: 40px 20px 0 20px;
	font-family:Lato, Helvetica, sans-serif;
}

.row{
	display: block;
	margin-top: 80px;
}

.profile-name {
	font-size:1.6em;
	font-weight:700;
	letter-spacing:2px;
}

.profile-home {
	font-size:1em;
	font-weight:300;
	color:#999;
	letter-spacing:2px;
}

.profile-fav {
	font-family:Prata, serif;
	font-size:1em;
	font-weight:300;
	letter-spacing:2px;
}

.background-text {
	color:#999;
}

#favorite-list {
	margin-top:40px;
}

#favorites {
	margin:0px 0px 0px 0px ;
	padding:0px;
}

#favorites li {
	font-family:Lato;
	font-size:11px;
	font-weight:300;
	letter-spacing:1px;
	background-color:#444;
	color:#f3f3f3;
	padding:6px 10px 6px 10px;
	margin-top:6px;
	cursor:move;
}

#favorites li a {
	color:#f3f3f3;
}

#favorites li a:hover {
	color:#999;
}

#favorites li a.right {
	float:right;
}


/* Container */
#content-super{
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100px;
	overflow: auto;
}
#content-wrap{
	display: block;
	width: 100%;
}
#content{
	width: 100%;
	margin: 0 0 0 0;
}

#home{
	text-align: center;
	margin: 200px auto 0 auto;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#home h2{
	font-size: 12px;
	margin: -10px 0 24px 0;
	color: #ddd;
	font-weight: 100;
	letter-spacing: 1px;
}

#home-globe {
	position:absolute;
	width:530px;
	height:530px;
	display:block;
	background:url('globe-lg.png') no-repeat;
	z-index:-1;
}

.big-search{
	text-align: center;
	display: block;
}
.big-search input[type=text]{
	display: block;
	text-align: left;
	padding: 0 10px;
	margin-left: -10px auto 0 auto;
	width: 600px;
	height: 48px;
	border-top: 3px solid #eee;
	background: #eee;
	border-radius: 2px;
}
.big-search input[type=text]:focus{
	border-top: 3px solid #bbb;
	background: #fff;
}
.big-search input[type=submit]{
	display: block;
	margin: 12px auto 0 auto;
	height: 34px;
	width: 90px;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
	background: #444;
	color: #f3f3f3;
	cursor: pointer;
	border-radius: 2px;
}

.big-search input[type=submit]:hover{
	color: #ccc;
	background: #333;
}

#masonry-content .col1 { width: 220px; }
#masonry-content .col2 { width: 460px; }
#masonry-content .col3 { width: 700px; }

#map_container{
	position: relative;
	text-align: center;
	margin: 0 auto;
	z-index: -1;
}
#map_wrap{
  position: fixed;

}
#map_canvas {
  width: 1000px;
  height:600px 
}


/* Inputs */
form{
	display: inline;
}
input, textarea {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	animation-delay:2s;
	-moz-animation-delay:2s; /* Firefox */
	-webkit-animation-delay:2s; /* Safari and Chrome */
	-o-animation-delay:2s; /* Opera */
}

input[type=text] {
	padding-left:10px;
}

input[type=password] {
	padding-left:10px;
}
input[type=submit] {
	cursor: pointer;
}

#profile-update-form ul, #profile-update-form ul li {
	margin:0;
	padding:0;
}

.user-input input[type=text], input[type=password]{
	display: block;
	width:240px;
	height:26px;
	padding:5px;
	margin-top: 8px;
	background: #eee;
	border-radius: 2px;
}
.user-input input[type=submit]{
	display: block;
	margin-top: 8px;
	padding: 8px;
	border-radius: 2px;
}
.footer-search input[type=text]{
	position: relative;
	top: 0px;
	width: 180px;
	margin-left: 12px;
	height: 34px;
	background: #eee;
	border-radius: 2px;
	border-top: 2px solid #ddd;
}


.footer-search input[type=submit]{
	position: relative;
	width: 60px;
	height: 34px;
	background: #bbb;
	border-radius: 2px;
	border-top: 2px solid #bbb;
	margin-left: 6px;
	letter-spacing: 1px;
	font-weight: bold;
	
}
.watermark{
	z-index: 100;
}


/* Buttons */
.btn {
	font-family:Helvetica, sans-serif;
	padding:3px 6px 4px 6px;
	color:#333;
	background-color:#ccc;
	border-radius: 2px;
	-webkit-transition: all 0.20s ease-in-out;
	-moz-transition: all 0.20s ease-in-out;
	-ms-transition: all 0.20s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}

.btn:hover {
	color:#333;
	background-color:#999;
	cursor:pointer;
}



/* Footer */
#footer-home {
	position:fixed;
	left:0px;
	bottom: 0px;
	display: block;
	width: 100%;
	height: 60px; 
	padding: 0 10px;
	color: #ddd;
	z-index: 100;
}
#footer-main {
	position:fixed;
	left:0px;
	bottom: 0px;
	display: block;
	width: 100%;
	height: 60px; 
	padding: 0 10px;
	background: #444;
	color: #ddd;
	z-index: 100;
}

.btn-wrap{
	display: inline-block;
	padding: 18px 12px;
	width: 22px; /* + 16px padding = 48px */
	height: auto;
	cursor: pointer;
	opacity: 0.7
}
.btn-wrap:hover{
	opacity: 1.0;
}

.btn-absolute {
	position:absolute;
	bottom:-12px;
}

.footer-btn{
	display: inline-block;
	width: 22px;
	height: 22px;
}
#profile-btn{
	position: relative;
	display: block;
	height: 22px;
	width: 22px;
	background: url('profile.png') no-repeat;
}

.click-area {
	opacity:0;
}

#fake-save-btn{
	position: relative;
	display:block;
	height: 22px;
	width: 22px;
	background: url('save.png') no-repeat;
}

#save-btn{
	position: relative;
	display:block;
	height: 22px;
	width: 22px;
	top:-28px;
	background: url('save.png') no-repeat;
}

.remove-btn {
	width:10px;
	height:13px;
	margin-top:4px;
	display:block;
	opacity:0.7;
	background:url('trash-can.png') no-repeat;
}

#profile-btn:hover, #save-btn:hover, .remove-btn:hover {
	opacity: 1.0;
}

#search-wrap{
	position: absolute;
	top: 11px;
	left: 116px;
}
#logo{
	position: absolute;
	top: 16px;
	right: 46px;
	z-index: 2000;
}

#hint {
	position:absolute;
	bottom:44px;
	left:10px;
	width:145px;
	height:67px;
	background:url('hint-black.png') no-repeat;
	display:none;
}

#hint2 {
	position:absolute;
	bottom:65px;
	left:62px;
	width:145px;
	height:67px;
	background:url('hint-black-2.png') no-repeat;
}

#spinner {
	position:absolute;
	width:24px;
	height:24px;
	display:block;
	background:url('spinner.gif') no-repeat;
}


