<div id="footer">
	<% if signed_in? %>
	<p>Hey, <%= current_user.name %></p>
	<%= link_to "Sign Out", signout_path, method: "delete" %>
	<% else %>
		<%= link_to "Sign In", signin_path %>
	<% end %>
</div>