<!DOCTYPE html>
<html>
<head>
  <title>AtlasApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<link href='http://fonts.googleapis.com/css?family=Lato:300,700|Prata' rel='stylesheet' type='text/css'>
<%= yield %>


</body>
</html>
